header {
    text-align: center;
}

p {
    margin-left: 100px;
    margin-right: 100px;
}

ul, ol {
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal;
}

h1, h2 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}