* {
    background-color: aliceblue;
}

header {
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

body {
    border: solid 1px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
}

p {
    background-color: white;
    padding: 50 px;
    margin: 25px;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ul, ol {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px;
}

h1, h2 {
    text-align: center;
    text-decoration: bold;
    color: navy;
    background-color: white;
    text-size-adjust: 20px;
}