head {
    background-image: url("bunnybackground.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: white;
}

body {
    margin-left: 350px;
    background-color: white;
    background-image: url("bunnybackground.jpg");
    
}

/* Found how to do a fixed width here: https://www.sitepoint.com/community/t/how-do-you-make-a-website-a-fixed-width/6885/2 */
#fixedwidth {
    width: 700px;
}

p {
    background-color: white;
    padding: 50 px;
    padding-right: 25px;
    font-size: 18px;
    padding-bottom: 25px;
}

/* Found how to have two columns here: w3schools.com/howto/howto_css_two_columns.asp */
.column {
    float: left;
    width: 50%;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ul, ol {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    /* margin: 25px; */
}

h1, h2 {
    text-align: center;
    text-decoration: bold;
    color: #c9707f;
    background-color: white;
}

h1 {
    font-size: 40px;
    padding: 20px;
}

h2 {
    font-size: 20px;
    padding: 20px;
}

img {
    float: left;
    width: 400px;
    padding-right: 25px;
    padding-left: 25px;
}

#hammy {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}